@model IEnumerable<LeaveTypeReadOnlyVM>

@{
    ViewData["Title"] = "Index";
}


<h1 class="display-4 text-center">Data table</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th>
                Activities
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Id) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-danger deleteBtn"  data-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form id="deleteForm" asp-action="Deletusmigus">
    <input type="hidden" name="deleteid" id="deleteleaveTypeId" />
</form>
@section Scripts {
    <script>
        $(function () {
            $('.deleteBtn').click(
                function(e){
                    swal({
                        title:"Are you sure?",
                        text:"Are you sure you want to delete the leave type?",
                        icon:"warning",
                        buttons: true,
                        dangerMode: true

                    }).then((confirm)=>{
                        if(confirm){
                            var btn = $(this);
                            var id = btn.data('id');
                            $('#deleteleaveTypeId').val(id);
                            $('#deleteForm').submit();
                        }
                    }
                    )
                }
            )
        });
    </script>
}
